/* BUTTON STYLE-SHEET TO PLACE START BLOCK */
.button-addStart {
    -fx-background-color: White;
    -fx-background-radius: 0px;
    -fx-background-insets: 0;   
    -fx-border-color: LightGrey;
    -fx-padding: 4px 18px;
    -fx-font-size: 14px;
}
.button-addStart:hover {
    -fx-background-color: Green;
    -fx-text-fill: White;
    -fx-padding: 2px 15px;
    -fx-cursor: hand;
}
.button-addStart:focused {
    -fx-background-color: Green;
    -fx-text-fill: White;
    -fx-padding: 2px 15px;
}

/* BUTTON STYLE-SHEET TO PLACE END BLOCK*/
.button-addEnd {
    -fx-background-color: White;
    -fx-background-radius: 0px;
    -fx-background-insets: 0;   
    -fx-border-color: LightGrey;
    -fx-padding: 4px 18px;
    -fx-font-size: 14px;
}
.button-addEnd:hover {
    -fx-background-color: Red;
    -fx-text-fill: White;
    -fx-padding: 2px 15px;
    -fx-cursor: hand;
}
.button-addEnd:focused {
    -fx-background-color: Red;
    -fx-text-fill: White;
    -fx-padding: 2px 15px;
}

/* BUTTON STYLE-SHEET TO PLACE WALL BLOCK */
.button-addWall {
    -fx-background-color: White;
    -fx-background-radius: 0px;
    -fx-background-insets: 0;   
    -fx-border-color: LightGrey;
    -fx-padding: 4px 18px;
    -fx-font-size: 14px;
}

.button-addWall:hover {
    -fx-background-color: Black;
    -fx-text-fill: White;
    -fx-padding: 2px 15px;
    -fx-cursor: hand;
}
.button-addWall:focused {
    -fx-background-color: Black;
    -fx-text-fill: White;
    -fx-padding: 2px 15px;
}

/* BUTTON STYLE-SHEET TO RUN ALGORITHM */
.button-run {
    -fx-background-color: White;
    -fx-background-radius: 100px; 
    -fx-border-radius: 100px; 
    -fx-border-color: LightGrey;
    -fx-border-width: 2px;
    -fx-max-width: 100px;
    -fx-max-height: 100px;
    -fx-min-width: 100px;
    -fx-min-height: 100px;
}
.button-run:hover {   
    -fx-border-color: Green;
}
.button-run:focused {
    -fx-border-color: Green;
}

/* BUTTON STYLE-SHEET TO REMOVE BLOCKS */ 
.button-remove {
    -fx-background-color: White;
}
